<div class="container-fluid" id="contact">
  <div class="content container">
      <h6 class="center-block">Contact</h6>
      <div class="row">
          <div class="col-sm-offset-4 col-sm-4">
              <form ng-sumbit="sendFeedback()">
                  <div class="input-group margin-bottom-md">
                      <span class="input-group-addon"><i class="fa fa-commenting-o fa-lg fa-fw"></i></span>
                      <input type="text" ng-model="name" class="form-control input-lg" placeholder="Enter your name" required>
                  </div> <br>
                  <div class="input-group margin-bottom-md">
                      <span class="input-group-addon"><i class="fa fa-envelope-o fa-lg fa-fw"></i></span>
                      <input class="form-control input-lg" type="email" placeholder="Enter your email">
                  </div> <br>
                  <textarea rows="10" ng-model="feedback" class="text-center input-lg" placeholder="Give us feedback!" required></textarea>
                  <button type="submit" class=" center-block btn btn-primary">Submit</button>
              </form>
          </div>
      </div>
  </div>
</div>
